# Example .ENV file. Replace the values
PORT=<port>
PROTOCOL=<http | https>
MONGODB_CONN=<mongo-connection>
SECRET_KEY=<theSecretKey>
GOOGLE_CLIENT_ID=<google-id>
GOOGLE_SECRET_ID=<google-secret>
CLOUDINARY=<cloudinary-connection>